@import "tailwindcss";
@import "@heroui/styles";

*{
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

body{
  overflow: hidden;
  overscroll-behavior: none;
}

#root {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100vh;
}